nestedModal {
    &__btn {
        font-size: .5rem;
        color: #540375;
    }
}

.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
    font-size: .5rem !important;
        color: #540375 !important;
        padding: 0 !important;
}