@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap');

@import '../../index.scss';



.banner {
    display: flex;
    justify-content: center;
    align-items: center;

    article {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    &__left {
        width: 50%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 0 3rem;

        &__h2 {
            margin-top: 1rem;
            text-align: center;
        }

        &__btn {
            background-color: #FF7000;
            border-radius: 30px;
            height: 40px;
            border: none;
            color: #540375;
            font-size: 1rem;
            font-weight: bold;
            margin-top: 2rem;
            cursor: pointer;

            &:hover {
                background-color: #540375;
                color: #FFBF00;
            }

        }
    }

    &__right {
        width: 50%;
        display: flex;
        justify-content: center;
        padding: 0 3rem;

    }

    &__img {
        height: 100%;
        width: 100%;
    }
}

.hero-title {
    font-size: 8vw;
    line-height: 1em;
    font-weight: 900;
    display: flex;
    justify-content: center;
    text-align: center;
}

.nav-title {
    font-size: 4em;
}

a {
    transition: all .25s ease-in-out;
}

.white,
a.white {
    color: $white;
}

.black {
    color: $black;
}

.pearl,
a.pearl {
    color: $pearl;
}

.green,
a.green {
    color: $green;
}

.pink {
    color: $pink;
}

.blend {
    // mix-blend-mode: difference !important;
    color: $white;
    position: relative;
    z-index: 2;
}

.bg-black {
    background-color: $black;
}

.bg-green {
    background-color: $green;
}

.bg-topographic {
    background-image: url(https://assets.codepen.io/319606/bg-topographic.svg);
    background-size: 5000px;
    opacity: .1;
    pointer-events: none;
}

// .custom-cursor {
//   position: fixed;
//   opacity: 0;
//   pointer-events: none;
//   mix-blend-mode: difference;
//   width: 30px;
//   height: 30px;
//   border-radius: 50%;
//   background-color: $green;
//   transition: transform 350ms ease;
//   transform: translate(-50%, -50%) scale(.3);
//   z-index: 1000;
// }
// .custom-cursor--link {
//   transform: translate(-50%, -50%) scale(1.25);
// }
.swoosh {
    //background-image: url('https://assets.codepen.io/319606/2023-logo-swoosh.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    top: 20px;
    left: 18px;
    width: 230px;
    height: 45px;
    z-index: 1000;
    background-position: left;
}

.sticky-nav {
    top: 20px;
    left: 20px;
    position: fixed;
    width: calc(100% - 40px);
    z-index: 999;

    &.difference {
        background-repeat: no-repeat;
        background-size: contain;
        mix-blend-mode: difference;
        // filter: invert(1);

        #nav-btn {
            filter: invert(0);
        }
    }

    .logo {
        width: 100%;
        height: 65px;
        background-image: url(https://res.cloudinary.com/dd8l8bm6q/image/upload/v1691538354/p5qcb03kjtoovifnp8zu.png);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: left;
        z-index: 998;
    }

    #nav-btn {
        width: 60px;
        z-index: 999;
        filter: invert(1);

        .icon {
            position: relative;
            width: 100%;
            height: 100%;
            fill: none;
            stroke-width: 8;
            stroke-linecap: round;
            stroke-linejoin: round;
            // cursor: pointer;
            stroke: #fff;
        }
    }

}


#takeover-nav {
    position: fixed;
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
    left: 0;
    top: -200%;
    transition: all .5s ease-in-out;
    z-index: 996;

    &.shown {
        top: 0;
    }

    .nav-col {
        min-height: 100vh;

        a {
            color: $white;

            &:hover {
                color: $black;
            }
        }
    }

    .nav-contact {

        .content {
            max-width: 700px;
        }
    }

    .nav-items {
        font-size: 2.5em;
        font-weight: 700;
    }

    .contact-items {
        font-size: 1.25em;
        font-weight: 700;

        a:hover {
            color: $green;
        }
    }

    .social {
        font-size: .75em;

        a {
            color: $green;

            &:hover {
                color: $white;
            }
        }
    }
}

// .gradient-overlay {
//   bottom: 0;
//   height: 50%;
//   background: -moz-linear-gradient(top,  rgba(33,33,33,0) 0%, rgba(33,33,33,1) 50%);
//   background: -webkit-linear-gradient(top,  rgba(33,33,33,0) 0%,rgba(33,33,33,1) 50%);
//   background: linear-gradient(to bottom,  rgba(33,33,33,0) 0%,rgba(33,33,33,1) 50%);
//   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00212121', endColorstr='#212121',GradientType=0 );
//   z-index: 1;
//   border-bottom-right-radius: 15vw;
//   pointer-events: none;
// }
.video-wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-bottom-right-radius: 15vw;
    pointer-events: none;
}

#video-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    min-width: 100%;
    background-position: center center;
    background-size: cover;
    object-fit: cover;
    transform: rotate(180deg);
}

.two__title {
    color: #FFBF00;
    text-align: center;
}

section {
    // min-height: 800px;
    height: auto;
    width: 100%;

    &.hero {
        background-color: $black;
        border-bottom-right-radius: 15vw;
        position: relative;
        height: 100vh;

        &:before {
            content: "";
            background-color: $black;
            position: absolute;
            top: 100%;
            left: 0;
            width: 15vw;
            height: 15vw;
        }

        &:after {
            content: "";
            background-color: $white;
            position: absolute;
            top: 100%;
            left: 0;
            width: 15vw;
            height: 15vw;
            border-top-left-radius: 15vw;
        }
    }

    &.herotwo {
        background-color: $black;
        border-bottom-left-radius: 15vw;
        border-top-left-radius: 15vw;
        position: relative;
        height: 100vh;



        &:before {
            content: "";
            background-color: $black;
            position: absolute;
            top: 100%;
            right: 0;
            width: 15vw;
            height: 15vw;
        }

        &:after {
            content: "";
            background-color: $white;
            position: absolute;
            top: 100%;
            right: 0;
            width: 15vw;
            height: 15vw;
            border-top-right-radius: 15vw;
        }
    }

    &.two {
        background-color: $white;


    }



    &.three {
        background-color: $purple;

    }

    &.four {
        background-color: $green;
        display: flex;
        justify-content: center;
        align-items: center;
      

    }

    &.five {
        background-color: $purple;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
}


.whyHelp {
    &__article {
        // margin-top: 5rem;
        padding: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        flex-direction: row;

        &__p {
            color: #540375;
            // margin-top: 20%;
            padding: 0 10%;
            display: flex;
            justify-content: center;
            font-size: 1.5rem;
            text-align: justify;
            align-items: center;
            margin-bottom: 1rem;
            text-align: center;

        }

        &__left {
            width: 50%;
        }

        &__right {
            width: 50%;
            display: flex;
            flex-direction: column;     

        }
    }
}

.howHelp {
    display: flex;
    flex-wrap: wrap;

    &__h2 {
        text-align: center;
        display: flex;
        justify-content: center;
        margin-bottom: 2rem;
        color: #540375;

    }

    &__circle {
        background-color: #FF7000;
        border-radius: 50%;
        height: 250px;
        width: 250px;
        border: 1px solid red;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        padding: 10%;

        &__top {
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 1rem;
        }

        &__button {
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 1rem;
            margin-top: 1rem;
        }

        p {
            font-size: .8rem;
            color: #540375;

        }

    }

}

.whyHelp__right__h2 {
    color: #540375;
    text-align: center;
    margin-bottom: 1rem;
}

@media screen and (min-width: 1200px) {
    .hero {
        height: 75vh;

        #video-bg {
            object-position: 0 5vw;
        }
    }
}

@media screen and (max-width: 1199px) {
    .hero {

        #video-bg {
            object-position: 0 15vw;
        }
    }
}

@media screen and (max-width: 767px) {
    #takeover-nav {
        .nav-menu {
            min-height: 500px;

            a {
                color: $black;

                &:hover {
                    color: $white
                }
            }
        }

        .nav-contact {
            min-height: 600px;

            .nav-title {
                font-size: 2.5em;
            }
        }
    }
}

@media screen and (max-width: 575px) {
    header {
        .swoosh {
            width: 165px;
            height: 35px;
            top: 10px;
        }

        .sticky-nav {
            top: 10px;

            .logo {
                width: 300px;
                height: 35px;
            }

            #nav-btn {
                width: 40px;
            }
        }

        #takeover-nav {
            .contact-items {
                font-size: 1em;
            }
        }


    }

    .banner {
        article {
            flex-direction: column-reverse;
        }

        &__left,
        &__right {
            width: 100%;

            &__h2 {
                font-size: 1rem;
                text-align: center;
            }
        }
    }

    .hero {
        min-height: 600px;
        height: 600px;

        .hero-title {
            font-size: 2rem;
            text-align: center;
        }

        #video-bg {
            object-position: 0 30vw;
        }
    }
}




@media screen and (max-width: 575px) {
    .whyHelp {
        &__article {
            flex-direction: column;

            &__p {
                font-size: 1rem;
            }
        }
    }

    .howHelp {



        &__circle {
            &__top {
            background-color: none;
            width: auto;
            height: auto;
            }
        }
    }
}

.swiper {
  width: 240px;
  height: 320px;
}

.swiper-slide {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    padding: 1rem !important;
    font-size: 1.5rem;
 
  border-radius: 18px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
}

.swiper-slide:nth-child(1n) {
  background-color: #540375;
}

.swiper-slide:nth-child(2n) {
  background-color: #00BCD4;
}

.swiper-slide:nth-child(3n) {
  background-color: #FF7000;
}

.swiper-slide:nth-child(4n) {
  background-color: #b73b3b;
}

.swiper-slide:nth-child(5n) {
  background-color: rgb(118, 163, 12);
}

.swiper-slide:nth-child(6n) {
  background-color: rgb(180, 10, 47);
}

.swiper-slide:nth-child(7n) {
  background-color: rgb(35, 99, 19);
}

.swiper-slide:nth-child(8n) {
  background-color: rgb(0, 68, 255);
}

.swiper-slide:nth-child(9n) {
  background-color: rgb(218, 12, 218);
}

.swiper-slide:nth-child(10n) {
  background-color: rgb(54, 94, 77);
}

.swiper-slide-visible {

    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    padding: 1rem !important;
    font-size: 1.5rem;
}

.swiper-slide-next {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    padding: 1rem !important;
    font-size: 1.5rem;
}